<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
<style>
 


.home {
position:absolute;
top: 10px;
right: 120px;
font-size: 100px;
}

.info {
position:absolute;
top: 10px;
right: 85px;
font-size: 100px;
}
.logout {
position:absolute;
top: 10px;
right: 20px;
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

 

 
 
.edit {
position:absolute;
top: 10px;
right: 100px;
 
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.home {
position:absolute;
top: 10px;
right: 190px;
 
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
div.polaroid {
  
  width: 9%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
} 
 
  
.closebutton {
position:absolute;
bottom: 100px;
left: 450px;
 
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

  
.proceed {
position:absolute;
bottom: 100px;
left: 740px;
 
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

h2{
    font-style:inherit;
  text-align: center;
  color: white;
}


body{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  height: 97vh;
   
    justify-content: center;
    align-items: center;
     
}
h1{
    color: black;
    text-align: left;
    font-size: x-large;
    font-style: italic;
}



.logout {
position:absolute;
top: 10px;
right: 20px;
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
</style>
 
  
   
<form method="GET", action="http://localhost:8000/">     

        
        <% loginwelcome.forEach(function (login) { %> 
       
           <h1>
             <%= "welcome  "  + login.name%>     
            <% }) %>
         </h1> 
       <h2> Please Give us a moment while  we are getting ready everthing for you</h2>
       
 

  
</tbody>
</table>

 
      
<button class="logout" formaction="/warning">Logout</button>
<button class="proceed" id="proceed" formaction="/data">Proceed</button>

 
 
</body>

 
</html>
